.container {
    position: relative;
    overflow: hidden;
    border-radius: .5em;
    height: 45em;
}

.name {
    display: flex;
    flex-direction: column;
    z-index: 1;
    transform: rotate(90deg);
    position: absolute;
    transition: transform 0.05s linear;
    bottom: -75%;
}

.name > * {
    color: rgba(255, 255, 255, .9);
    font-family: "Franklin Gothic", system-ui, sans-serif;
    font-weight: 900;
    line-height: .8;
    font-size: 3.5rem;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5em;
    transform: translateY(-50%);
}

@media (min-width: 920px) {
    .container {
        grid-column: 1/12;
        grid-row: 16;
    }

    .image {
        transform: translateY(-60%);
    }
}