.title {
    padding-block: 1.5rem;
}

.heading {
    margin-block: 30rem 3rem;
    width: max-content;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar>a {
    color: white;
    position: relative;
    margin-inline-end: 1rem;
    font-family: "Noto Sans";
}

.navbar>a:last-child:after {
    position: absolute;
    content: '';
    inset: -5px -10px;
    background: rgba(10, 10, 10, .4);
    z-index: -1;
    border-radius: 50vw;
}

p {
    margin-block: 1rem;
}

@media (min-width: 920px) {
    .project {
        display: grid;
        grid-template-columns: repeat(6, auto);
        gap: 2rem;
    }

    .navbar {
        grid-column: 1/12;
        grid-row: 1;
        position: relative;
        z-index: 10;
    }

    .heading {
        margin-block-start: 1rem;
    }

    p {
        margin-block: -1rem;
    }
}