.container {
    height: 50vh;
    max-height: 450px;
    margin-block-end: -30rem;
    position: relative;
    z-index: -10;
}

.hero {
    height: 100%;
    border-radius: .5em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

@media (min-width: 920px) {
    .container {
        grid-column: 6/12;
        grid-row: 3/9;
    }
    
    .hero {
        background-size: 100%;
    }

    .hero::after {
        position: absolute;
        content: '';
        inset: -20% 0 -20% 0;
        background-image: linear-gradient(to right, #17593c, #1e6e4b, #17533c);
        z-index: -1;
        border-radius: .5em;
    }
}