.container {
    height: 50vh;
    margin-block-end: -30rem;
    position: relative;
    z-index: -10;
}

.hero {
    height: 100%;
    border-radius: .5em;
    background-position: center;
}

@media (min-width: 920px) {
    .container {
        height: 120vh;

        grid-column: 6/12;
        grid-row: 1/9;
    }
}