@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --spacing: .75rem;
}

#root {
  margin: 0 auto 3rem auto;
  max-width: 1400px;
  padding-inline: clamp(var(--spacing), 2vw, 5rem);

}

h1 {
  font-size: clamp(3rem, 3vw + 1rem, 12rem);
  line-height: 0;
  font-weight: 800;
}

.final-logo {
  padding-block: 2rem;
  padding-inline-start: 0;
}