@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,*::before, *::after { 
  box-sizing: border-box; 
  margin: 0
}

::selection {
  background-color: rgba(0,0,0,.6);
  color: rgba(255,255,255,.8);
}

:root {
  line-height: 1.7;
  font-weight: 400;

  background-color: #efefef;
  color: #333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

body {
  overflow-x: hidden;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  transition: filter .3s ease;
  font-family: Gloock;
}
a:hover {
  filter: brightness(.7);
}
